:root{
    --ligthGreen: #eff7e5;
    --darkGreen: #36d64e;
    --ligthPink: #ffe4ea;
    --pink: #d41343;
    --ligth: #ffffff;
    --dark: #000000;
}

body{
    background: linear-gradient(var(--ligthPink), var(--ligthGreen));
    background-size: 40000% 40000%;
}
/*logo*/
.logo{
    height: 6rem;
    width: auto;

}

/*Fonts (google fonts)*/
.chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}
.logo-chewy{
    width: 20rem;
    height: auto;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
