:root{
    --ligthGreen: #eff7e5;
    --darkGreen: #36d64e;
    --ligthPink: #ffe4ea;
    --pink: #d41343;
    --ligth: #ffffff;
    --dark: #000000;
}
/*basics*/
body{
    background: linear-gradient(var(--ligthPink), var(--ligthGreen));

    height: 110vh;
}


/*logo*/

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10%;
}


/*Fonts (google fonts)*/
.chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}


.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.nunito-uniquifier> {
             font-family: "Nunito", sans-serif;
             font-optical-sizing: auto;
             font-weight: 25;
             font-style: normal;
         }
